<h3>Contactos</h3>
<style>
    #mydiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
    }

</style>
<div data-ng-app data-ng-controller="ContactosController" class="container">
    <strong class="error">{{ error }}</strong>

    <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Agregar nuevo contacto</a></p>
    <form name="addContact" data-ng-show="addMode" style="width:600px;margin:0px auto;">
    <div class="dialog dialog-success">
        <label>Nombre completo:</label><input type="text" data-ng-model="newContact.name" required />                
        <label>Descripcion:</label><input type="text" data-ng-model="newContact.description" required />
        <label>E-mail:</label><input type="text" data-ng-model="newContact.email1" required />        
        <label>Teléfono:</label><input type="text" data-ng-model="newContact.phone1" required />        
        <label>Habilitado:</label><input type="checkbox" ng-model="newContact.enabled" required />
        <br />
        <br />
        <input type="submit" value="Agregar" data-ng-click="add()" data-ng-disabled="!addContact.$valid" class="btn btn-primary" />
        <input type="button" value="Cancelar" data-ng-click="toggleAdd()" class="btn btn-primary" />
        <br /><br />
    </div>
    </form>
    <table class="table table-bordered table-hover" style="width:800px">
        <tr>
            <th>#</th>
            <td>Nombre completo</td>
            <th>Descripcion</th>
            <th>E-mail</th>
            <th>Teléfono</th>
            <th>Habilitado</th>
        </tr>

        <tr data-ng-repeat="newContact in contactos">
            <td><strong data-ng-hide="editMode">{{ newContact.id }}</strong></td>
            <td>
                <p data-ng-hide="editMode">{{ newContact.name }}</p>
                <input data-ng-show="editMode" type="text" data-ng-model="newContact.name" />
            </td>
            <td>
                <p data-ng-hide="editMode">{{ newContact.description }}</p>
                <input data-ng-show="editMode" type="text" data-ng-model="newContact.description" />
            </td>
            <td>
                <p data-ng-hide="editMode">{{ newContact.email1 }}</p>
                <input data-ng-show="editMode" type="text" data-ng-model="newContact.email1" />
            </td>
            <td>
                <p data-ng-hide="editMode">{{ newContact.phone1 }}</p>
                <input data-ng-show="editMode" type="text" data-ng-model="newContact.phone1" />
            </td>
            <td>
                <p data-ng-hide="editMode">{{ newContact.enabled }}</p>
                <input data-ng-show="editMode" type="text" data-ng-model="newContact.enabled" />
            </td>
            <td>
                <p data-ng-hide="editMode"><a href="javascript:;" class="btn btn-sm btn-primary" data-ng-click="toggleEdit()"><span class="fui-new"></span>&nbsp;&nbsp;Editar</a></p>
                <p data-ng-show="editMode"><a data-ng-click="save(newContact);" href="javascript:;">Guardar</a> | <a data-ng-click="toggleEdit()" href="javascript:;">Cancelar</a></p>
            </td>
        </tr>
    </table>
    <hr />

</div>