<h2>Usuarios</h2>  
<style>  
    #mydiv {  
        position: absolute;  
        top: 0;  
        left: 0;  
        width: 100%;  
        height: 100%;  
        z-index: 1000;  
        background-color: grey;  
        opacity: .8;  
    }  
  
</style>  
<div data-ng-app data-ng-controller="usuariosController" class="container">  
    <strong class="error">{{ error }}</strong>  

    <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Agregar nuevo usuario</a></p>  
    <form name="addFriend" data-ng-show="addMode" style="width:600px;margin:0px auto;">  
        <label>Nombre completo:</label><input type="text" data-ng-model="newUser.name" required />  
        <label>Nombre (login):</label><input type="text" data-ng-model="newUser.username" required />  
        <label>Rol:</label><input type="text" data-ng-model="newUser.role" required />  
        <label>Descripcion:</label><input type="text" data-ng-model="newUser.description" required />  
        <label>E-mail:</label><input type="text" data-ng-model="newUser.email1" required />  
        <label>Teléfono:</label><input type="text" data-ng-model="newUser.phone1" required />  
        <label>Habilitado:</label><input type="checkbox" ng-model="newUser.enabled" required />  
        <br />
        <br />
        <input type="submit" value="Agregar" data-ng-click="add()" data-ng-disabled="!addFriend.$valid" class="btn btn-primary" />  
        <input type="button" value="Cancelar" data-ng-click="toggleAdd()" class="btn btn-primary" />  
        <br /><br />  
    </form>  
    <table class="table table-bordered table-hover" style="width:800px">  
        <tr>  
            <th>#</th>  
            <td>Nombre completo</td>  
            <th>Nombre (login)</th>  
            <th>Rol</th>  
            <th>Descripcion</th>  
            <th>E-mail</th>  
            <th>Teléfono</th>  
            <th>Habilitado</th>  
        </tr>  
  
        <tr data-ng-repeat="friend in friends">  
            <td><strong data-ng-hide="friend.editMode">{{ newUser.id }}</strong></td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.name }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.FirstName" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.username }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.LastName" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.role }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.Address" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.description }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.City" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.email1 }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.PostalCode" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.phone1 }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.Country" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode">{{ newUser.enabled }}</p>  
                <input data-ng-show="friend.editMode" type="text" data-ng-model="friend.Notes" />  
            </td>  
            <td>  
                <p data-ng-hide="friend.editMode"><a data-ng-click="toggleEdit(friend)" href="javascript:;">Editar</a> | <a data-ng-click="deletefriend(friend)" href="javascript:;">Borrar</a></p>  
                <p data-ng-show="friend.editMode"><a data-ng-click="save(friend)" href="javascript:;">Guardar</a> | <a data-ng-click="toggleEdit(friend)" href="javascript:;">Cancelar</a></p>  
            </td>  
        </tr>  
    </table>  
    <hr />  
  
</div>  